<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- 中间包 -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"></property>
		<property name="dataSource" ref="dataSource"></property>
		<!-- classpath* 表示可以从当前项目类路径加载配置，也可以从依赖jar中或依赖项目中加载配置文件。 -->
		<property name="mapperLocations" value="classpath*:/mybatis/mapper/*.xml"></property>
		
		<!--https://pagehelper.github.io/-->
		<property name="plugins">
			<bean class="com.github.pagehelper.PageInterceptor">
				<property name="properties">
					<!--分页合理化 -->
					<value>reasonable=true</value>
				</property>
			</bean>
		</property>
	</bean>

	<!-- 映射dao接口，实现dao接口，并放入容器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.atguigu.atcrowdfunding.dao"></property>
	</bean>

</beans>
